capital {
	.capital-common {
		overflow: hidden;
		span {
			display: inline-block;
			float: left;
			font-size: 12px;
			color: #333;
		}
		select {
			border: 1px solid #eee;
			background-color: #f8f8f8;
			width: 60px;
		}
	}
}
