page-register {
	background: url('../assets/imgs/oth-bg.jpg') no-repeat;
	background-size: 100% 100%;
	ion-header {
		background: transparent!important;
		background-color: inherit!important;
		color: #fff;
		ion-icon {
			color: #fff;
		}
	}
	.scroll-content,
	.toolbar-background,
	ion-content,
	ion-item,
	ion-header::after {
		background: transparent!important;
		background-color: inherit!important;
		background-image: none;
		border: 0;
	}
	ion-content iframe {
		border: 0;
		width: 100%;
		height: 100%;
	}
	#iframe {
		width: 100%;
		height: 100%;
	}
}
