<ion-header>
	<ion-navbar>
		<ion-title>{{'忘记密码' | translate}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list *ngIf="step == 1">
		<ion-item>
			<ion-label>{{'机构代码' | translate}}</ion-label>
			<ion-input type="text" [(ngModel)]="orgCode" placeholder="{{'请输入机构代码' | translate}}"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>{{'登录信息' | translate}}</ion-label>
			<ion-input type="text" [(ngModel)]="loginInfo" placeholder="{{'请输入登录账号' | translate}}"></ion-input>
		</ion-item>
		<a ion-button (tap)="step1()">{{'获取验证方式' | translate}}</a>
	</ion-list>
	<ion-list *ngIf="step == 2">
		<ion-item>
			<ion-label>{{'验证方式' | translate}}</ion-label>
			<ion-select [(ngModel)]="checkWays" okText="{{'确定' | translate}}" cancelText="{{'取消' | translate}}">
				<ion-option *ngFor="let item of ways" [value]="item.type">{{item.content | translate}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-input type="text" [(ngModel)]="checkCode" placeholder="输入验证码"></ion-input>
			<a class="get-code" ion-button small item-end (tap)="getCheckCode()">{{postCodeText | translate}}</a>
		</ion-item>
		<ion-item>
			<ion-label>{{'新密码' | translate}}</ion-label>
			<ion-input type="password" [(ngModel)]="newPWD" maxlength="16" placeholder="{{'8~16位数字与字母组合' | translate}}"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>{{'确认新密码' | translate}}</ion-label>
			<ion-input type="password" [(ngModel)]="repeatNewPWD" maxlength="16" placeholder="{{'8~16位数字与字母组合' | translate}}"></ion-input>
		</ion-item>
		<a ion-button (tap)="step2()">{{'提交' | translate}}</a>
	</ion-list>
</ion-content>
