page-forget-password {
	ion-header {
		background: transparent!important;
		background-color: inherit!important;
		color: #fff;
		ion-icon {
			color: #fff;
		}
	}
	.scroll-content,
	.toolbar-background,
	ion-content,
	ion-item,
	ion-header::after {
		background: transparent!important;
		background-color: inherit!important;
		background-image: none;
		border: 0;
	}
	ion-list {
		margin-bottom: 0!important;
		button {
			position: absolute!important;
			left: 0;
			bottom: 0;
			margin: 0!important;
		}
	}
	ion-item {
		padding: 0 25px!important;
		ion-label {
			width: 30%;
			color: #d6e0e9!important;
		}
		ion-input,
		ion-select,
		::-webkit-input-placeholder {
			width: 70%;
			max-width: 70%;
			color: #d6e0e9;
		}
		.item-inner {
			border-color: #9daacc!important;
		}
		a.get-code {
			width: 40%;
			background: url('../assets/imgs/trans-white.png');
		}
	}
	.toolbar-title,
	.bar-button-default {
		color: #d6e0e9;
	}
	a.button {
		border-radius: 5px;
		margin-top: 20px;
		width: calc(100% - 50px);
		background-color: none!important;
		background: #ff5400;
	}
	a.button.activated {
		background-color: #f8be00;
	}
}
page-forget-password {
	background: url('../assets/imgs/oth-bg.jpg') no-repeat;
	background-size: 100% 100%;
}
page-forget-password a {
	color: #ddd;
	padding: 5px;
	border-radius: 3px;
}
page-forget-password .des {
	font-size: 1.0rem;
}
page-forget-password .rows {
	width: 100%;
	color: #eee;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 3px;
	position: relative;
}
page-forget-password .rows span {
	height: 30px;
	line-height: 30px;
	text-align: center;
}
page-forget-password .rows span input,page-forget-password .rows span select {
	width: 100%;
	border: 0px;
	color: #ddd;
	height: 30px;
	background: transparent;
	border-bottom: 1px solid #999;
}
page-forget-password .rows span input {
	padding: 10px 30px;
}
page-forget-password .rows span select {
	padding: 0px 10px 0px 25px;
}
page-forget-password .rows label {
	margin: 10px 0 20px 0;
}
page-forget-password .rows label a {
	float: left;
	color: #999;
	font-size: 12px;
}
page-forget-password section {
	margin: 30px 60px;
}
page-forget-password .rows i {
	position: absolute;
	left: 3px;
	top: 8px;
	display: block;
	text-align: center;
	width: 15px;
}